numpy
matplotlib
#For hemispheric power calculations (only in notebooks)
-e git+https://github.com/lkilcommons/geospacepy-lite.git#egg=geospacepy
#Required by OvationPyme
-e git+https://github.com/lkilcommons/nasaomnireader.git#egg=nasaomnireader
#Need to install itself if running from /binder (won't run setup.py automatically)
-e git+https://github.com/lkilcommons/OvationPyme.git#egg=ovationpyme
